<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.spring.admin.mapper.RightMapper">
    <resultMap id="rightToRoles" type="com.wh.spring.admin.entity.Right">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <collection property="roles" ofType="com.wh.spring.admin.entity.Role" fetchType="lazy"
                    select="RightToRole" column="id">
        </collection>
    </resultMap>
    <select id="RightToRole" resultType="com.wh.spring.admin.entity.Role" >
        select * from sys_role_right,sys_role where sys_role_right.role_id = sys_role.id  and sys_role_right.right_id=#{id};
    </select>
</mapper>
